<header class="header">
   
   <nav class="menu">
      
     <ul class="list">
         <li class="elem" >Main</li>
          <li class="elem elem-catalog">Catalog</li>
         <li class="elem ">About us</li>
         <li class="elem">Setings</li>
         <li class="elem">Support</li>
     </ul>
   </nav>
   </header>